/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 29, 2014, 7:08:23 PM
    Author     : acep
*/

* {
    margin: 0px;
    padding: 0px;
}
body, html {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

#topnav{
    display: block;
    width: 100%;
    height: 24px;
    background-color: #f6f7f8;
    border-bottom:1px solid #e1e3e6;
}
#top-container{
    width: 89%;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    background: #f6f7f8;
}
#container .left li{
    float: left;
    display: block;
}
#left {display: inline-block;}
#left li{display: inline-block;}
#left li a{display: block;
           font-family: helios,arial; 
           font-size: 11px;
           font-weight: bold; 
           text-transform: uppercase; 
           color:#0c509e;
           padding: 0 5px; 
           line-height: 26px;
           text-decoration: none;}
#left li a#sel, #topnav li a:hover{color:#00aeef;}
#right{
    position: absolute;
    top: 0;
    right: 5%;
}
#right li{display: inline-block;}
#right li a img{
    padding-top: 3px;
    width: 19px;
    height: 19px;
}